{% extends 'base_template.html' %}

{% block title %}
	{{ session['username'] }}'s Profile
{% endblock %}

{% block content %}
	
	{% from 'stubs/_formhelpers.html' import render_field %}
	
	<form action="" method="POST">
		
		<div class="form-group">
			{{ render_field(form.new_name, class="form-control", type="text", required="true", minlength=1, maxlength=30, default="{{ session['username'] }}" )}}
		</div>
		<div class="form-group">
			{{ render_field(form.password, class="form-control", type="password", required="true", minlength=6, maxlength=14)}}
		</div>
		<p><input type="submit" value="Save" class="btn btn-primary"><a href="{{ url_for('home') }}" name="Cancel" class="btn btn-default"> Cancel</a></p>
		<small><a href="{{ url_for('update') }}">Update password?</a></small>

		
	</form>


{% endblock %}