{% extends 'base_template.html' %}

{% block title %}
	Update password
{% endblock %}

{% block content %}
	
	{% from 'stubs/_formhelpers.html' import render_field %}
	
	<form action="" method="POST">
		
		<div class="form-group">
			{{ render_field(form.email, class="form-control", type="email", required="true") }}
		</div>
		
		<p><input type="submit" value="Submit" class="btn btn-primary"><a href="{{ url_for('home') }}" name="Cancel" class="btn btn-default"> Cancel</a></p>
		
	</form>


{% endblock %}